@import './../imports/client/styles/main';




/* BODY */
body{

}

//----- ANIMATED "x" icon for Bootstrap navbar-toggle
//--- source https://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle/
.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}
// -----------------------

// .hideMe{
//   -moz-animation: cssAnimation 0s ease-in 3s forwards;
//    /* Firefox */
//    -webkit-animation: cssAnimation 0s ease-in 3s forwards;
//    /* Safari and Chrome */
//    -o-animation: cssAnimation 0s ease-in 3s forwards;
//    /* Opera */
//    animation: cssAnimation 0s ease-in 3s forwards;
//    -webkit-animation-fill-mode: forwards;
//    animation-fill-mode: forwards;
// }
// @keyframes cssAnimation {
//     to {
//         transition: max-height;
//         width:0;
//         height:0;
//         overflow:hidden;
//     }
// }
// @-webkit-keyframes cssAnimation {
//     to {
//         width:0;
//         height:0;
//         visibility:hidden;
//     }
// }

.active{
   background-color: #e1e1e1 !important; /* MUST PUT THIS IMPORTANT RULE TO GET THE CHANGE REFLECTED IMMEDIATELY*/
 }

li a#login-name-link.login-link-text, li a#login-sign-in-link.login-link-text{
  all:none;
}

/* end of sign-in form */

/* FOR THE ARROW DOWN ------ END ------ */
.content-about{
  margin-bottom: 5rem;
}

.content-admin{
  height:90vh;
  margin-bottom: 5rem;
}
//
// .second-nav{
//   visibility: hidden;
// }

@media only screen
and (min-width: 577px){
  .intrinsic-container iframe{
    width: 100%;
    height: 65vh;
  }
  .layout-footer{
    position: sticky;
  }
  .content-about{
    height:93vh;

  }
}

@media only screen
and (min-width: 768px){
  // .hideMe{
  //   width:0;
  //   height:0;
  //   display: none;
  //   visibility:hidden;
  //
  //   //https://stackoverflow.com/questions/23317108/turn-animation-off-using-media-query
  //   -webkit-transition: none !important;
  //  -moz-transition: none !important;
  //  -o-transition: none !important;
  //  -ms-transition: none !important;
  //  transition: none !important;
  // }
  .content-about{
    height:97vh;
    padding-bottom: 5rem;
  }
  .top-margin{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  .left-sidebar-menu{
    width: 25%;
  }
  .title-topic{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .right-sidebar-menu{
    width: 75%;
  }
  .intrinsic-container iframe{
    width: 100%;
    height: 65vh;
  }
  .layout-footer{
    position: sticky;
  }

  /* ADMIN SECTION */
  .admin-menu{
    background-color: white;
    flex-direction: row;
  }
  .left--admin{
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
  }
  .left--admin h3.admin-message{
      display: block;
      visibility: visible;
      background-color: $left-admin-tab-head-color;
  }
  .left--admin.tab{
    padding:0;
    margin-top:1.9rem;
    background-color: $left-admin-tab-head-color;
  }
  .left--admin.tab button{
    background-color:  #f1f1f1;
  }

}
@media only screen
and (min-height: 648px) and (min-width: 990px){
  .see-sample{
    visibility: visible;
    color:white;
    margin-top:35vh;
  }
}
@media only screen
and (min-height: 740px) and (min-width: 990px){
  .see-sample{
    visibility: visible;
    color:white;
    margin-top:43vh;
  }
  div.container-fluid.sample-section{
    height:87vh;
  }
  .layout-footer{
    position: sticky;
  }
}
@media only screen
and (min-width: 991px){
  .home-banner{
    height:96vh;
  }
  .center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:3%;
  }
  .content-about{
    height:93vh;

  }
  .see-sample{
    visibility: visible;
    color:white;
  }
  .sample-container{
    height:84vh;
  }
  .layout-footer{
    position: sticky;
  }
}
@media only screen
and (min-width: 1200px){
  .left-sidebar-menu{
    margin-left: 12.5%;
    width:15%;
  }
  .right-sidebar-menu{
    width:60%;
  }
}
@media only screen
and (min-width: 1472px){
  .intrinsic-container iframe{
    width: 100%;
    height: 65vh;
  }
}
