*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
    height: 95%;
}

/* BODY */
body{
    background-color: #e1e6ef;
}

.active{
  background-color: #ff6666 !important; /* MUST PUT THIS IMPORTANT RULE TO GET THE CHANGE REFLECTED IMMEDIATELY*/
}

label#login-username-or-email-label, label#login-password-label, label#login-username-label, label#login-email-label{
  color:white;
}
button#login-buttons-password.login-button.login-button-form-submit{
  background-color:DeepSkyblue;
}

.navbar-header a.navbar-brand{
  text-decoration: none !important;
  font-family:Hiragino Kaku Gothic ProN;
  font-weight: bold;
  color:white;
  font-size: 4.5rem;
}
.navbar-header a.navbar-brand:hover{
  text-decoration: none;
  font-family:Hiragino Kaku Gothic ProN;
  font-weight: bold;
  color:white;
  font-size: 4.5rem;
}

.navbar-header a.navbar-brand:visited{
  text-decoration: none;
  font-family:Hiragino Kaku Gothic ProN;
  font-weight: bold;
  color:white;
  font-size: 4.5rem;
}

.letter-brand{
  color:DeepSkyblue;
}
.mycontainer{
  height:90vh;
}
.boxed-view{
  border: solid 1px #cccccc;
}

.main-title{
  padding-top: 10rem;
  color:white;
}

#processingTitle{
  color:DeepSkyblue;
}

.home-banner{
  height:50vh;
  background-image: url("mainbg1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* FOR THE ARROW DOWN */
.see-sample{
  visibility: hidden;
}
a#showSample{
  text-decoration: none !important;
}
a#showSample:hover{
  text-decoration: none !important;
}

a#showSample h2.text-center.slide-down-page{
  text-decoration: none !important;
  color:white;
}
a#showSample h2.text-center.slide-down-page:hover{
  text-decoration: none !important;
  color:white;
}
/* FOR THE ARROW DOWN ------ END ------ */
.content-about{
  height:90vh;
  margin-bottom: 5rem;
}

.about-description{

}

.content-admin{
  height:90vh;
  margin-bottom: 5rem;
}

.navbar-header, .first-nav, .accounts-dialog, ul.dropdown-menu{
  background-color: #ed0909;
}

div#collapse ul li a{
  color:white;
}

div.message.error-message{
  color:white;
}

li a#login-name-link.login-link-text, li a#login-sign-in-link.login-link-text{
  all:none;
  /*
  margin: 0;
  padding: 0;
  background-color: #f2605e;
  color:white;
  */
}

.second-nav{
  visibility: hidden;
}

/* VIDEO SECTION */

.top-margin{
  display: flex;
  flex-direction: column-reverse;
  margin-top: 50px;
}

.left-sidebar-menu{
  background-color: white;
}
.title-topic{

  background-color: #ed3838;
  color:white;
  margin: auto;
  padding-top:0.5rem;
  padding-bottom: 0.3rem;
  text-align: center;
}

div.sub-topic{
  display: flex;
  flex-direction: column;
  margin:auto;
  text-align: center;
}

a.video-links{
  background-color:#e1e6ef;
  color:grey;
  margin:auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 100%;
}

.right-sidebar-menu{
  background-color: #ed3838;
}

.selected-video{
  color:white;
  font-size: 1.7rem;
  margin:0 auto;
  text-align: center;
}

.intrinsic-container iframe{
  width: 100%;
  height: 50vh;
}

/* ADMIN SECTION */
.admin-message{
  color:white;
  text-align: center;
}
.admin-menu{
  display: flex;
  flex-direction: column-reverse;
}
.admin-notes{
  color:white;
  margin-top: 5rem;
  text-align:center;

}
.left--admin{
  display: flex;
  flex-direction: row;

}
.right--admin{
  margin-top: 2rem;
  height:75vh;
}
.tablinks{
  align-items: center;
  width: 50%;
}
.topic-buttons{
  display: flex;
  flex-direction: column;
}

.memberbtn{
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 10px;
}

.user-database{
  background-color: white;
  text-align: center;
}


/* ADMIN SECTION END */
.left--admin h3.admin-message {
  display: none;
}
.layout-footer{
  background-color: #ed0909;
  width:100%;
  position:sticky;

  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  bottom:0;

  text-align: center;
}

.footer-text{
  color: white;
  padding-top:1rem;
  left:0;
  right:0;
}
@media only screen
and (min-width: 577px){

  .intrinsic-container iframe{
    width: 100%;
    height: 65vh;
  }
  .layout-footer{
    position: sticky;
  }
}

@media only screen
and (min-width: 768px){
  .top-margin{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  .left-sidebar-menu{
    width: 25%;
  }
  .title-topic{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .right-sidebar-menu{
    width: 75%;
  }
  .intrinsic-container iframe{
    width: 100%;
    height: 65vh;
  }
  .layout-footer{
    position: sticky;
  }

  /* ADMIN SECTION */
  .admin-menu{
    background-color: white;
    flex-direction: row;
  }
  .left--admin{
    display: flex;
    flex-direction: column;
    margin-top: 3.5rem;
  }
  .left--admin h3.admin-message {
      display: block;
      visibility: visible;
      background-color: #ed3838;
  }
  .left--admin.tab{
    padding:0;
    margin-top:1.9rem;
    background-color: #ed3838;
  }
  .left--admin.tab button{
    background-color:  #f1f1f1;
  }

}
@media only screen
and (min-width: 991px){
  .home-banner{
    height:96vh;
  }

  .center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:3%;
  }

  .see-sample{
    visibility: visible;
    color:white;
    margin-top:50vh;
  }
  .sample-container{
    height:84vh;
  }
  .layout-footer{
    position: sticky;
  }
}
@media only screen
and (min-width: 1200px){
  .left-sidebar-menu{
    margin-left: 12.5%;
    width:15%;
  }
  .right-sidebar-menu{
    width:60%;
  }
}
@media only screen
and (min-width: 1472px){
  .intrinsic-container iframe{
    width: 100%;
    height: 65vh;
  }
}
