
.layout-footer{
  background-color: $menu-header-bg;
  width:100%;
  position:sticky;

  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  bottom:0;
  text-align: center;
}

.footer-text{
  color: $menu-header-font-color;
  padding-top:1rem;
  left:0;
  right:0;
  font-size: 1.4rem;
}
