// title
.title-subtitle{
  font-family: 'Roboto', sans-serif;
  font-size: 2rem !important;
}

// Brand

.navbar-header a.navbar-brand{
  text-decoration: none !important;
  font-family:Hiragino Kaku Gothic ProN;
  font-weight: bold;
  color:#bfbfbf;
  font-size: 4.5rem;
}
.navbar-header a.navbar-brand:hover{
  text-decoration: none;
  font-family:Hiragino Kaku Gothic ProN;
  font-weight: bold;
  color:#bfbfbf;
  font-size: 4.5rem;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -2;
}
// .navbar-header a.navbar-brand:visited{
//   text-decoration: none;
//   font-family:Hiragino Kaku Gothic ProN;
//   font-weight: bold;
//   color:#bfbfbf;
//   font-size: 4.5rem;
// }

.letter-brand{
  color:$brand-processing-color;
}
.mycontainer{
  height:90vh;
}


.main-title{
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 3rem;
  color:white;
  // background-color: rgba(20, 20, 20, 0.15);
  // border-radius: 20px;
}

#processingTitle{
  color:$brand-processing-color;
}


.home-banner{
  
  background-image: url("bookshelves3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* FOR THE ARROW DOWN */
.see-sample{
  visibility: hidden;
}
a#showSample{
  text-decoration: none !important;
}
a#showSample:hover{
  text-decoration: none !important;
}

a#showSample h3.text-center.slide-down-page{
  text-decoration: none !important;
  color:#eeeeee;

}

h3.text-center.slide-down-page{
  background-color: rgba(0,0,0, 0.3);
  padding:1rem 1rem 1rem 1rem;
  
  border-radius: 20px;
  width: 20%;
  margin-left:40%;
}
a#showSample h3.text-center.slide-down-page:hover{
  background-color: rgba(0,0,0, 0.5);
  text-decoration: none !important;
  color:#efefef;
}

.home-image-section{
  margin-top:2rem;
  padding-top:2rem;
}